@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  background-image: url("./background.jpg");
  background-position: center;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.glitch {
  animation: glitch-skew 1s infinite linear alternate-reverse;
  font-size: 80px;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(2px, 9999px, 99px, 0);
    transform: skew(0.43deg);
  }
  5% {
    clip: rect(61px, 9999px, 63px, 0);
    transform: skew(0.04deg);
  }
  10% {
    clip: rect(59px, 9999px, 37px, 0);
    transform: skew(0.68deg);
  }
  15% {
    clip: rect(32px, 9999px, 56px, 0);
    transform: skew(0.8deg);
  }
  20% {
    clip: rect(23px, 9999px, 70px, 0);
    transform: skew(0.44deg);
  }
  25% {
    clip: rect(88px, 9999px, 65px, 0);
    transform: skew(0.91deg);
  }
  30% {
    clip: rect(55px, 9999px, 62px, 0);
    transform: skew(0.41deg);
  }
  35% {
    clip: rect(15px, 9999px, 1px, 0);
    transform: skew(0.22deg);
  }
  40% {
    clip: rect(53px, 9999px, 5px, 0);
    transform: skew(0.21deg);
  }
  45% {
    clip: rect(52px, 9999px, 73px, 0);
    transform: skew(0.36deg);
  }
  50% {
    clip: rect(80px, 9999px, 94px, 0);
    transform: skew(0.31deg);
  }
  55% {
    clip: rect(98px, 9999px, 100px, 0);
    transform: skew(0.53deg);
  }
  60% {
    clip: rect(50px, 9999px, 17px, 0);
    transform: skew(0.02deg);
  }
  65% {
    clip: rect(75px, 9999px, 8px, 0);
    transform: skew(0.68deg);
  }
  70% {
    clip: rect(85px, 9999px, 36px, 0);
    transform: skew(0.87deg);
  }
  75% {
    clip: rect(7px, 9999px, 99px, 0);
    transform: skew(0.51deg);
  }
  80% {
    clip: rect(39px, 9999px, 29px, 0);
    transform: skew(0.74deg);
  }
  85% {
    clip: rect(90px, 9999px, 33px, 0);
    transform: skew(0.21deg);
  }
  90% {
    clip: rect(8px, 9999px, 51px, 0);
    transform: skew(0.14deg);
  }
  95% {
    clip: rect(78px, 9999px, 97px, 0);
    transform: skew(0.65deg);
  }
  100% {
    clip: rect(42px, 9999px, 35px, 0);
    transform: skew(0.26deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(14px, 9999px, 86px, 0);
    transform: skew(0.58deg);
  }
  5% {
    clip: rect(13px, 9999px, 73px, 0);
    transform: skew(0.54deg);
  }
  10% {
    clip: rect(19px, 9999px, 66px, 0);
    transform: skew(0.82deg);
  }
  15% {
    clip: rect(59px, 9999px, 27px, 0);
    transform: skew(0.19deg);
  }
  20% {
    clip: rect(10px, 9999px, 15px, 0);
    transform: skew(0.05deg);
  }
  25% {
    clip: rect(64px, 9999px, 68px, 0);
    transform: skew(0.11deg);
  }
  30% {
    clip: rect(54px, 9999px, 78px, 0);
    transform: skew(0.18deg);
  }
  35% {
    clip: rect(49px, 9999px, 8px, 0);
    transform: skew(0.88deg);
  }
  40% {
    clip: rect(97px, 9999px, 9px, 0);
    transform: skew(0.24deg);
  }
  45% {
    clip: rect(1px, 9999px, 97px, 0);
    transform: skew(0.9deg);
  }
  50% {
    clip: rect(76px, 9999px, 90px, 0);
    transform: skew(0.37deg);
  }
  55% {
    clip: rect(93px, 9999px, 41px, 0);
    transform: skew(0.5deg);
  }
  60% {
    clip: rect(37px, 9999px, 82px, 0);
    transform: skew(0.31deg);
  }
  65% {
    clip: rect(12px, 9999px, 81px, 0);
    transform: skew(0.3deg);
  }
  70% {
    clip: rect(34px, 9999px, 70px, 0);
    transform: skew(0.17deg);
  }
  75% {
    clip: rect(14px, 9999px, 80px, 0);
    transform: skew(0.11deg);
  }
  80% {
    clip: rect(83px, 9999px, 95px, 0);
    transform: skew(0.09deg);
  }
  85% {
    clip: rect(42px, 9999px, 67px, 0);
    transform: skew(0.74deg);
  }
  90% {
    clip: rect(53px, 9999px, 73px, 0);
    transform: skew(0.39deg);
  }
  95% {
    clip: rect(41px, 9999px, 57px, 0);
    transform: skew(0.03deg);
  }
  100% {
    clip: rect(93px, 9999px, 33px, 0);
    transform: skew(0.08deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(-3deg);
  }
  10% {
    transform: skew(5deg);
  }
  20% {
    transform: skew(-4deg);
  }
  30% {
    transform: skew(-1deg);
  }
  40% {
    transform: skew(-4deg);
  }
  50% {
    transform: skew(0deg);
  }
  60% {
    transform: skew(4deg);
  }
  70% {
    transform: skew(-4deg);
  }
  80% {
    transform: skew(2deg);
  }
  90% {
    transform: skew(5deg);
  }
  100% {
    transform: skew(3deg);
  }
}
